<h3 class="view-employee-heading">
    View Employee Details
</h3>

<div class="employee-details-container">
    <div class="employee-detail">
        <label class="detail-label">First Name:</label>
        <span class="detail-value">{{employee.firstName}}</span>
    </div>
    <div class="employee-detail">
        <label class="detail-label">Last Name:</label>
        <span class="detail-value">{{employee.lastName}}</span>
    </div>
    <div class="employee-detail">
        <label class="detail-label">Email Id:</label>
        <span class="detail-value">{{employee.emailId}}</span>
    </div>
</div>
