@import "bootstrap/dist/css/bootstrap.min.css";

.footer{
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(10, 103, 243);
    text-align: center;
    color: white;
    padding-top: 10px;
}
/* .active {
    font-weight: bold;
    color: red !important;
    text-decoration: underline;
  } */
  